{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center mt-3">{{question.question_text}}</h3>
<div class="card">
    <div class="card-body">
    <form action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
       
           
            <div class="form-check mt-3">
                <input type="radio" name="choice" class="form-check-input" value="{{choice.id}}">
                <label for="">{{choice.choice_text}}</label>
            </div>
           
        {% endfor %}
        <input type="submit" name="" value="Vote Now" class="btn btn-primary btn-block mt-3 mb-2"><br><br>
        <a href="{% url 'index' %}" class="btn btn-outline-danger">Back to Polls</a>

    </form>
    </div>
    </div>
{% endblock %}